name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    env: 
      image_name: fastapi-simple
    steps:
    - uses: actions/checkout@v5
    - name: Build image
      run: docker build . --file Dockerfile --tag ${{env.image_name}}
    - name: Sign in to Container registry
      run: echo ${{secrets.PACKAGE_PAT}} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
    - name: Push the Docker image to GitHub Package
      run: |
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/${{env.image_name}}
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          

          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')


          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

          [ "$VERSION" == "main" ] && VERSION=latest
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION
          docker tag ${{env.image_name}} $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
